/*DUGMICI OPSTI pocetak*/

.ocp_gornji_2_body { margin: 0px; background: #dcdcdc url(../img/gornji_2/bg/bg_gornji_frame_2_bg.gif) repeat-x; }
.ocp_gornji_2_table{ margin: 0px; padding: 0px; width:100%; border-collapse: collapse; }
.ocp_gornji_2_td_donji{ margin:0px; padding: 0px 0px 0px 3px; vertical-align: top; /*display:table-row;*/ border:0;}

.ocp_gornji_2_nasl_ikona {padding-bottom: 0px; vertical-align: middle; /*width:17px; height:18px;*/}
.ocp_gornji_2_naslov { padding: 4px 0px 3px 5px; margin-top:0px; margin-bottom:0px; border:0px solid #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #EDF4F7; letter-spacing: 0.02em; white-space: nowrap;}

/* ie only */
* html .ocp_gornji_2_naslov {padding-top: 0;}

.ocp_gornji_2_id {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #E5E5E5;}
.ocp_gornji_2_desni { text-align: right; padding-top:0px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;}

a.ocp_gornji_2_link { color: #4C4C4C; text-decoration: none; }
a.ocp_gornji_2_link:hover { color: #000;}

a.ocp_grupa_zatvori { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #4C4C4C; text-decoration: none;}
a.ocp_grupa_zatvori:hover { color: #000;}
/*DUGMICI OPSTI kraj*/

/*DUGMICI pocetak*/
.ocp_gornji_2_table_dugmici {float: right; margin: 0px; padding: 0px; border-collapse: collapse;}
.ocp_gornji_2_td_dugmici {margin: 0; padding: 0; vertical-align: middle; border-width: 0px; color:#000;}
.ocp_gornji_2_td_dugmici_selected {padding: 0px; margin: 0px; border-width: 0px; background-image: url(../img/gornji_2/bg/bg_gornji_dugm_over.gif);}
.ocp_gornji_2_td_dugmici_editor {margin: 0px; padding: 0px; vertical-align: middle; border-width: 0px; color:#000;}

.ocp_gornji_2_dugme { margin: 0; padding: 0 4px 0 4px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #000; white-space: nowrap; }
.ocp_gornji_2_dugme_selected { padding-top:0; margin-top:0; padding-left: 4px; padding-right: 4px; padding-bottom:0px; margin-bottom:0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #666666; }
.ocp_gornji_2_dugme_blok { padding-top: 0px; margin-top:0px; padding-left: 4px; padding-right: 4px; padding-bottom:0px; margin-bottom:0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #333333; }
.ocp_gornji_2_dugme_ikona { margin: 1px 1px 3px 4px; width:16px;  height:15px;}
.ocp_gornji2_crtka { margin: 0 4px 0 4px; }

a.ocp_grupa_zatvori { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #4C4C4C; text-decoration: none;}
a.ocp_grupa_zatvori:hover { color: #000;}
/*DUGMICI kraj*/