.ocp_levi_body { margin: 0px; padding:0px; background-image: url(../img/levi/bg/bg_levi_frame.gif);}
.ocp_levi_table { width:100%; height:100%; margin: 0px; padding: 0px; border-width: 0px; border-collapse: collapse;}
.ocp_levi_td { margin:0; padding: 0px; background-image: url(../img/levi/bg/bg_iza_loga.gif);}

.ocp_levi_logo_table { border-width: 0px; border-collapse: collapse; width:100%; height: 54px; margin: 0px; padding: 0px; background-image: url(../img/levi/bg/bg_gradient_plavi.gif); border-bottom: 1px solid #363636; }
.ocp_levi_logo_td {padding: 0px; margin: 0px; background-image: url(../img/levi/bg/bg_plavo_desno.gif); background-position: right; background-repeat: no-repeat;}
.ocp_levi_naziv_sajta { margin: 0px; height: 27px; padding-left: 6px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; line-height: 11px; color: #000000; background-color: #eaeaea; background-image: url(../img/levi/bg/bg_naziv_sajta.gif); background-repeat: repeat-x; border-bottom: 2px solid #898989; }   

.ocp_veliko_dugme_izabrano { width:100%; height:32px; margin: 0px; padding: 7px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; 
	color: #333; background-color: #DCE5EA; border-top: 1px solid #595959; }

.ocp_veliko_dugme { width:100%; height:32px; margin: 0px; padding: 7px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; 
	color: #333; background-color: #ebebeb; border-top: 1px solid #898989; cursor:pointer;}

.ocp_forma_menu { width:100%; margin-right: 3px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #DCE5EA;  border: 1px solid #999999; float: left; text-align: left;}

.ocp_pretraga { padding: 3px 5px 3px 5px; background-image: url("../img/opsti/opcije/bg/bg_info.gif"); background-repeat:repeat-x; border-top: 1px solid #b5b5b5;}
.ocp_uni_table { width:100%; margin: 0px; padding: 0px; border-width:0px; border-collapse: collapse;}
.ocp_dugmici_td_desni_1 { width:22px; padding: 0px 0px 0px 2px; text-align: right;}
.ocp_pretraga_input { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #333333; border: 1px solid #999999;}
.ocp_pretraga_input_on { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: xx-small; color: #c42e00; border: 1px solid #c42e00;}
.ocp_kontrola { margin: 1px 0px 1px 3px; vertical-align: middle; border-width: 0px;}