#nav { font-size: 11px; color: #333333; padding: 5px 2px 5px 0px; }
#nav ul li { list-style-image: url(/images/basic/bullet.gif); margin-left: -15px; padding-left: -15px; }
#nav a { font-weight: normal; text-decoration: none; color: #333333; }
#nav a:hover { font-weight: normal; text-decoration: underline; }
#nav a.selected { color: #D91C16; text-decoration: none; font-weight: bold;}
#nav a.selected:hover { color: #D91C16; font-weight: bold; text-decoration: underline; }

#lower_nav { font-size: 10px; color: #333333; padding: 5px 2px 5px 0px; }
#lower_nav a { font-weight: normal; text-decoration: none; color: #333333; }
#lower_nav a:hover { font-weight: normal; text-decoration: underline; }

#tools {  font-size: 10px; color: #333333; padding: 5px 2px 5px 0px; }
#tools a { font-weight: normal; text-decoration: none; color: #333333; }
#tools a:hover { font-weight: normal; text-decoration: underline; }

#search {  font-size: 10px; color: #333333; padding: 5px 2px 5px 0px; }
#search a { font-weight: normal; text-decoration: none; color: #333333; }
#search a:hover { font-weight: normal; text-decoration: underline; }

#additional_nav {  font-size: 10px; color: #333333; padding: 5px 2px 5px 0px; }
#additional_nav a { font-weight: normal; text-decoration: none; color: #333333; }
#additional_nav a:hover { font-weight: normal; text-decoration: underline; }

#path_nav {  font-size: 10px; color: #333333; padding: 5px 2px 5px 0px; }
#path_nav a { font-weight: normal; text-decoration: none; color: #333333; }
#path_nav a:hover { font-weight: normal; text-decoration: underline; }

.chain { text-align: right; font-size: 10px; color: #333333; padding: 5px 2px 5px 0px; }
chain a { font-weight: normal; text-decoration: none; color: #333333; }
chain a:hover { font-weight: normal; text-decoration: underline; }